<div class="post">
   <div class="post__content">
      <p class="post__text">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod odit optio vero cumque facilis esse
         voluptates, saepe enim ipsum dolor quia, magnam itaque, ullam modi iste! Sunt voluptas magni exercitationem
         laboriosam, consequuntur suscipit vero aliquid ipsa sit dolores nostrum voluptatem accusantium at reiciendis
         laudantium minus quam dolorem, dolor molestiae!
      </p>
   </div>
   <div class="post__footer">
      <ul class="post__data">
         <li class="post__data-item">
            <time class="post__data-time" datetime="2020-06-21 19:21">21.06.2020</time>
         </li>
      </ul>
   </div>
</div>
<!-- post-1 -->

<article class="post">
   <div class="post__header post__header--preview">
      <a href="">
         <img class="post__preview" src="assets/images/main/posts/image-post1.jpg"
            alt="Как писать код быстро и безболезненно?">
      </a>
   </div>
   <div class="post__content">
      <h2 class="post__title">
         <a class="post__title-link" href="post.html">Как писать код быстро и безболезненно?</a>
      </h2>
      <p class="post__text">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod odit optio vero cumque facilis esse
         voluptates, saepe enim ipsum dolor quia, magnam itaque, ullam modi iste! Sunt voluptas magni exercitationem
         laboriosam, consequuntur suscipit vero aliquid ipsa sit dolores nostrum voluptatem accusantium at reiciendis
         laudantium minus quam dolorem, dolor molestiae!
      </p>
   </div>
   <div class="post__footer">
      <ul class="post__data">
         <li class="post__data-item">
            <time class="post__data-time" datetime="2020-06-21 19:21">21.06.2020</time>
         </li>
         <li class="post__data-item">
            <a class="post__data-link" href="">создание сайтов</a>
         </li>
      </ul>
      <a href="" class="post__read">читать</a>
   </div>
</article>
<!-- post-2 -->

<article class="post">
   <div class="post__header">
      <div class="embed">
         <iframe src="https://www.youtube.com/embed/p4zbV1MBJNs?start=1666" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
      </div>
   </div>
   <div class="post__content">
      <h2 class="post__title">
         <a class="post__title-link" href="post.html">Купил новый ноутбук за 150 000 руб</a>
      </h2>
   </div>
   <div class="post__footer">
      <ul class="post__data">
         <li class="post__data-item">
            <time class="post__data-time" datetime="2020-06-21 19:21">21.06.2020</time>
         </li>
         <li class="post__data-item">
            <a class="post__data-link" href="">продвижение видео</a>
         </li>
      </ul>
      <a href="" class="post__read">оставить комментарий</a>
   </div>
</article>
<!-- post-3 -->

<article class="post">
   <div class="post__header post__header--preview">
      <a href="">
         <img class="post__preview" src="assets/images/main/posts/image-post2.jpg"
            alt="Как писать код быстро и безболезненно?">
      </a>
   </div>
   <div class="post__content">
      <h2 class="post__title">
         <a class="post__title-link" href="post.html">Как я сходил на FrontEnd Conf 2021</a>
      </h2>
      <p class="post__text">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quod odit optio vero cumque facilis esse
         voluptates, saepe enim ipsum dolor quia, magnam itaque, ullam modi iste! Sunt voluptas magni exercitationem
         laboriosam, consequuntur suscipit vero aliquid ipsa sit dolores nostrum voluptatem accusantium at reiciendis
         laudantium minus quam dolorem, dolor molestiae!
      </p>
   </div>
   <div class="post__footer">
      <ul class="post__data">
         <li class="post__data-item">
            <time class="post__data-time" datetime="2020-06-21 19:21">21.06.2020</time>
         </li>
         <li class="post__data-item">
            <a class="post__data-link" href="">создание сайтов</a>
         </li>
      </ul>
      <a href="" class="post__read">читать</a>
   </div>
</article>
<!-- post-4 -->


<ul class="pagenation">
   <li class="pagenation__item">
      <a href="" class="pagenation__link">&lt;</a>
   </li>
   <li class="pagenation__item">
      <a href="" class="pagenation__link">1</a>
   </li>
   <li class="pagenation__item  pagenation__item--action">
      <a href="" class="pagenation__link">2</a>
   </li>
   <li class="pagenation__item">
      <a href="" class="pagenation__link">3</a>
   </li>
   <li class="pagenation__item">
      <a href="" class="pagenation__link">&gt;</a>
   </li>
</ul>
<!-- pagenation -->