<div class="page__title">
   Мои работы
</div>

<article class="work">
   <div class="work__preview">
      <img src="assets/images/main/works/bg1.jpg" alt="фон">
   </div>

   <div class="work__content">
      <h2 class="work__title">
         <a href="" target="_blank">altermono.com</a>
      </h2>

      <div class="work__description">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum,
            posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales
            lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
      </div>

      <ul class="work__list">
         <li class="work__item">дизайн</li>
         <li class="work__item">создание сайта</li>
         <li class="work__item">SMM</li>
      </ul>

      <div class="work__footer">
         <button class="btn btn--blue btn--bordrad" type="button">Перейти на сайт
         </button>
      </div>
   </div>
</article>


<article class="work">
   <div class="work__preview">
      <img src="assets/images/main/works/bg2.jpg" alt="фон">
   </div>

   <div class="work__content">
      <h2 class="work__title">
         <a href="" target="_blank">codedoco.com</a>
      </h2>

      <div class="work__description">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum,
            posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. </p>
      </div>

      <ul class="work__list">
         <li class="work__item">дизайн</li>
         <li class="work__item">создание сайта</li>
         <li class="work__item">SMM</li>
      </ul>

      <div class="work__footer">
         <button class="btn btn--blue btn--bordrad" type="button">Перейти на сайт
         </button>
      </div>
   </div>
</article>