@import "normalize";
@import "vars";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, *::after, *::before {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: #181818;
   color: $white;
   font-size: 1.4rem;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

//assets
@import "button";
@import "embed";

//blocks
@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/main-article";
@import "blocks/main-pagenation";
@import "blocks/main-article/related";
@import "blocks/main-article/discus";
@import "blocks/main-article/comments";
@import "blocks/main-article/page";
@import "blocks/works.scss";

