.cabinet {
   display: flex;

   @include breakpoint($mobile-bp) {
      flex-direction: column;
   }

   &__form {
      width: 34rem;
      margin-right: 11rem;

      @include breakpoint($mobile-bp) {
         order: 2;
      }
   }

   &__avatar {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      @include breakpoint($mobile-bp) {
         order: 1;
      }

      img {
         width: 200px;
         height: 200px;
      }
   }

   &__file {
      font-size: 1.4rem;
      line-height: 1.6rem;
      text-decoration: underline;
      color: $blue;
      padding-left: 1.5rem;

      &:hover {
         text-decoration: none;
      }

      input {
         display: none;
      }
   }
}