.post {
   margin-bottom: 3rem;
   padding: 2.5rem;
   overflow: hidden;

   background: $primary;
   border: 1px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;

   @include breakpoint($mobile-bp) {
      padding: 1.5rem;
   }
   
   &__header {
      &--preview {
         margin: -2.5rem -2.5rem 2.5rem;
      }
   }

   &__preview {
      max-width: 100%;
      height: auto;
      display: block;
   }

   &__content {
      margin-bottom: 2rem;

      p {
         margin-bottom: 2rem;
      }

      &--borderbottom {
         border-bottom: 1px solid #1C1C1C;
      }
   }

   &__title {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin-bottom: 1.5rem;

      &-link {
         color: $white;

         &:hover {
            text-decoration: underline;
         }
      }

      &--mb-open {
         margin-bottom: 0.75rem;
      }
   }

   &__text {
      font-size: 1.4rem;
      color: #D2D2D2;
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      
      @include breakpoint($mobile-bp) {
         flex-direction: column;
         align-items: start;
      }
   }

   &__data {
      display: flex;
      align-items: center;

      color: #828282;
      line-height: 1.2;

      @include breakpoint($mobile-bp) {
         font-size: 1.25rem;
      }

      &-link {
         margin-left: 3.5rem;
         position: relative; 
         color: #828282;
         font-size: 1.4rem;
         line-height: 1.6;

         @include breakpoint($mobile-bp) {
            font-size: 1.25rem;
         }

         &::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #C4C4C4;
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: -19px;
         }

         &:hover {
            text-decoration: underline;
         }
      }
   }

   &__read {
      color: #107EFF;
      font-size: 1.4rem;
      line-height: 1.6;

      &:hover {
         text-decoration: underline;
      }
   }

   // posts-post
   &__action {
      display: flex;
      justify-content: space-between;  
      
      &-link {
         display: flex;
         align-items: center;
         color: $white;
         font-size: 1.2rem;
         opacity: 0.6;
         transition: opacity 0.3s linear;

         &:hover {
            opacity: 1;
         }

         img {
            margin-left: 1rem;
            margin-bottom: 1px;
         }
      }
   }
}
